<div class="filters-container">
    <div class="filter-items">
        <div class="filter-item">
            <app-search-input [placeholder]="'Search . . .'"></app-search-input>
        </div>
        <div class="filter-item">
            <app-single-select
                [placeholder]="'Select Form'"
                [options]="formOptions"
            ></app-single-select>
        </div>
        <div class="filter-item">
            <app-single-select
                [placeholder]="'Select Status'"
                [options]="statusOptions"
            ></app-single-select>
        </div>
        <div class="filter-item">
            <app-datepicker></app-datepicker>
        </div>
    </div>
    <div class="list-items">
        <app-toggle-button [options]="toggleOptions"></app-toggle-button>
        <app-side-button [icon]="'export'" [title]="'Export'"></app-side-button>
    </div>
</div>
