<div class="inputContainer">
    <input
        type="text"
        placeholder="{{ placeholder }}"
        [(ngModel)]="displayModel"
        readonly
        (click)="picker.open()"
        tabIndex="1"
    />
    <input
        matInput
        class="hidden"
        [matDatepicker]="picker"
        [(ngModel)]="dateModel"
        (ngModelChange)="emitDateChange()"
        tabIndex="2"
    />
    <mat-datepicker #picker></mat-datepicker>
    <img class="calendar" src="assets/datepicker.svg" alt="Calendar" />
</div>
