select {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    background-color: var(--white);
    border: 1px solid var(--extraLightGrey);
    border-radius: 5px;
    padding: var(--pad15) var(--pad2);
    background-image: url(../../../assets/dropdown.svg);
    background-repeat: no-repeat;
    background-position-x: calc(100% - 10px);
    background-position-y: 12px;
    cursor: pointer;
}
