.container {
    padding: var(--pad2);

    h1 {
        font-size: var(--bigHeading);
        font-weight: var(--medium);
    }

    .filters-container {
        display: flex;
        align-items: center;

        .filter-items,
        .list-items {
            display: flex;
            align-items: center;
            gap: var(--pad2);
        }

        .filter-items {
            width: 75%;
        }

        .list-items {
            width: 25%;
            justify-content: end;
        }
    }
}
